NET "i0" LOC = "P14";
NET "i1" LOC = "P16";
NET "i2" LOC = "P19";
NET "i3" LOC = "P21";
NET "i4" LOC = "P22";
NET "i5" LOC = "P20";
NET "i6" LOC = "P23";
NET "i7" LOC = "P27";
NET "i8" LOC = "P28";
NET "i9" LOC = "P29";
NET "i10" LOC = "P30";
NET "i11" LOC = "P31";
NET "i12" LOC = "P32";
NET "i13" LOC = "P37";
NET "i14" LOC = "P41";
NET "i15" LOC = "P42";
NET "f0" LOC = "P2";
NET "f1" LOC = "P3";
NET "f2" LOC = "P5";
NET "f3" LOC = "P6";
NET "f4" LOC = "P7";
NET "f5" LOC = "P8";
NET "f6" LOC = "P13";
NET "f7" LOC = "P12";
